/* common */
body {
  background-color: black;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.tag {
  border-radius: 7px;
  padding: 3px 6px;
  
}
.red {
  background-color: rgba(240, 58, 58, 0.4);
}
.blue {
  background-color: rgba(0, 8, 255, 0.4);
}
.grey {
  background-color: rgba(255, 255, 255, 0.4);
}
.purple {
  background-color: rgba(186, 0, 249, 0.4);
}
.green {
  background-color: rgba(41, 255, 94, 0.4);
}
.orange {
  background-color: rgba(255, 196, 0, 0.4);
}
.sky {
  background-color: rgba(0, 166, 255, 0.4);
}
/* container */
.container { 
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  position: relative; 
}
.nameTag {
  border: solid 1px white;
  border-radius: 50%;
  width: 160px;
  height: 60px;
  display: inline-block;
}
.container .nameTag p {
  margin: 19px;
  font-size: 25px;
}

img.profile {
  z-index: -1;
}
#me1 {
  width: 190px;
  position: absolute;
  left:18%;
  top:2%;
}
#me2 {
  position: absolute;
  left: 25%;
  top: 65%;
  width: 230px;
}
#me3 {
  position: absolute;
  top: -8%;
  left: 70%;
  width: 250px;
}

/* introduce */
.introduce {
  width: 50%;
  height: 600px;
  margin: 2% auto;
  background-color: rgba(255,255,255,0.2);
  border: solid 1px  #686868;
  border-radius: 10px;
  overflow: hidden;
}


/* introduce > header */
#header {
  width: 100%;
  height: 9%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
#header #circles {
  /* border: solid .3px red; */
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}
#header #tab-group {
  /* border: solid .3px red; */
  height: 100%;
  width: 400px;
  display: flex;
  align-items: end;
}
#tab-group li {
  font-size: 15px;
  width: 33%;
  height: 70%;
  text-align: left;
  padding: 3% 0 0 4%;
  box-sizing: border-box;
}
#tab-group li:hover {
  cursor: pointer;
}

#header #circles .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: auto 5%;
}
.circle.red {
  background-color: #FF544D;

}
.circle.orange {
  background-color: #FEB429;

}
.circle.green {
  background-color: #65C455;

}


#bar {
  width: 100%;
  height: 50px;
  background-color:#2F2F2F;
  border-bottom: solid 1px #585858;
  display: flex;
}
#bar .searchBox {
  margin: auto;
  align-items: center;
  width: 90%;
  height: 60%;
  border-radius: 14px;
  background-color: #1D1E21;
  color: #787878;
  font-size: 16px;
  text-align: left;
  padding: 8px 0 0 23px;
  box-sizing: border-box;
  
}
/* 탭키 구현  */
.tabs .tab {
  display: none;
}
.active{
  display:block !important;
}
#tab-group li.active {
  background-color: #2F2F2F;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#tab-group li a{
  /* border: solid .3px red; */
  display: inline-block;
  width: 100%;
  height: 80%;
  border-right: solid .7px #686868;
}

/* HOME */
.wrapper{
  margin: 5% 7% 0 7%;
}

#home .title {
  /* border: solid 1px green; */
  text-align: left;
  
}
#home .title h1{
  font-size: 40px;
  margin-bottom: 2%;
}
#home .title p {
  margin-top: 1%;
  font-size: 20px;
}
#home .intro {
  text-align: right;
  margin-top: 5%;
  margin-bottom: 3%;
  /* border: solid 1px green; */
  color: #B5B5B6;
}
.intro .subTitle,
.tag-group h2{
  font-size: 20px;
  margin: 2% auto;
  color: #F1f1f1;
}
#home .intro p:nth-child(2){
  width: 60%;
  text-align: right;
  display: inline-block;
  line-height: 22px;
}
.tag-group {
  text-align: right;
}
.tag-group h2{
  margin: 2% auto;
}
.tag-group .tags {
  margin-bottom: 3%;
}

/* GOAL */
#goal .wrapper .h2{
  margin: 10% auto;

}
.wrapper .h2{
  font-size: 30px;
  margin: 5% auto;
}
.wrapper .p {
  font-size: 18px;
  color: #B5B5B6;
  width: 60%;
  margin: auto;
  line-height: 25px;
}
.wrapper .line {
  width: 25%;
  height: 10px;
  margin: 10% auto;
  border-bottom: solid 1px #B5B5B6;
}
/* ELICE */
@media all and (max-width:1200px) {
  .tag {
    border-radius: 7px;
    padding: 3px 6px;
    font-size: 12px;
  }
  /* HOME */
  #home .title h1{
    font-size: 30px;
  }
  #home .title p {
    font-size: 12px;
  }
  .intro .subTitle,
  .tag-group h2{
    font-size: 18px;
    margin: 2% auto;
  }
  #home .intro p:nth-child(2){
    font-size: 13px;
      line-height: 18px;
  }
  /* GOAL */
  .wrapper .h2{
    font-size: 15px;
    margin: 5% auto;
  }
  .wrapper .p {
    font-size: 10px;
    color: #B5B5B6;
    width: 60%;
    margin: auto;
    line-height: 25px;
  }
  .wrapper .line {
    width: 25%;
    height: 10px;
    margin: 10% auto;
    border-bottom: solid 1px #B5B5B6;
  }
}

/* 미디어 쿼리 */
@media all and (max-width:480px) {
  *{
    font-size: 10px;
  }
  #tab-group li {
    font-size: 10px;
    width: 18%;
  
  }
  #me1 {
    width: 100px;
    position: absolute;
    left:7%;
    top:2%;
  }
  #me2 {
    position: absolute;
    left: 19%;
    top: 60%;
    width: 120px;
  }
  #me3 {
    position: absolute;
    top: -2%;
    left: 70%;
    width: 110px;
  }
}
/* main */